<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app 
xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
version="2.4">


  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ServletPilotos</servlet-name>
  	<display-name>ServletPilotos</display-name>
  	<description></description>
  	<servlet-class>controller.ServletPilotos</servlet-class>
  </servlet>

  <servlet>
	<servlet-name>ServletInsertData</servlet-name>
	<display-name>ServletInsertData</display-name>
	<description></description>
	<servlet-class>controller.ServletInsertData</servlet-class>
</servlet>


  <servlet-mapping>
  	<servlet-name>ServletPilotos</servlet-name>
  	<url-pattern>/pilotos</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
	<servlet-name>ServletInsertData</servlet-name>
	<url-pattern>/insertData</url-pattern>
</servlet-mapping>


</web-app>
